.container {
    height: 400px;
    width: 45%;
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 10%;
    margin-left: 28%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    /* background-image: url("https://garden.spoonflower.com/c/14101651/p/f/m/eeovRp14W75e4S79UxKAIHN7UitgEsChbyNXwcIsICeMpdHhCkKS/Pale%20Dogwood.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
    background-color: rgb(237, 202, 208);
}

.container h1 {
    color: rgb(237, 78, 78);
}

.minusbtn {
    height: 38px;
    width: 30%;
    margin: 5px;
    background-color: pink;
    border: 3px solid black;
}

.plusbtn {
    height: 38px;
    width: 30%;
    margin: 5px;
    background-color: pink;
    border: 3px solid black;
}

.resetbtn {
    height: 42px;
    width: 100%;
    margin-top: 3%;
    font-size: 20px;
    background-color: pink;
    border: 3px solid black;
    box-shadow: 2px 1px 2px 1px;
}

.counter {

    margin-top: 5%;
    font-size: 32px;
    font-weight: 700;
    color: rgb(233, 57, 57);
}

.odd-Even {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 25%;
    font-weight: 600;
    padding: 20px;
    color: crimson;
}

.prime {
    font-size: 25px;
    font-weight: 600;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 38%;
    color: crimson;
}